@model List<UI_Layer.Models.ContainerViewModel>
@{

    ViewData["title"] = "Product Containers List";

}

<h3>Product Containers List</h3>
<hr/>
@Html.ActionLink("New Container", "SaveProductContainerForm", "Container", null, new {@role="button", @class="btn btn-primary"})
<hr/>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Size
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContainerName</td>
                <td>@item.ContainerType</td>
                <td>@item.CapacityInOz ft. oz.</td>
            </tr>
        }
    </tbody>
</table>